/* small device */

@media screen and (max-width:576px) {

    .menus,
    .nav-action {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .navbar {
        padding: 24px 15px;
    }

    .logo .logo-text-gradient {
        background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .logo h3 {
        font-weight: bolder;
    }

    .mobile-menu img {
        width: 24px;
    }

    /* hero section */


    .hero {

        padding: 40px 0px;
    }

    .hero-first-img {
        width: 200px;
        height: 200px;
    }

    .hero-second-img {
        width: 17%;
        top: 26%;
        left: 40%;
    }

    .hero-image .badge {
        left: 63%;
        padding: 9px 14px;
    }

    .hero-image {
        margin-bottom: 12px;
    }

    .hero-info h3 {
        font-size: 2.5rem;
    }

    .hero-container {
        background-size: contain;
        background-position: 0px 80px;
    }

    .hero-info {
        padding: 0px 10px;

    }

    /* About Section */


    .about-info {
        padding-bottom: 48px;
    }

    .about-info h3 {
        font-size: 2rem;
    }

    .about-text {
        padding: 0px 8px;
        line-height: 20px;
    }

    .about-counter {
        padding-top: 40px;
        padding-bottom: 40px;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .about-couunter-box {
        width: 100%;
    }

    /* why choose */

    .why-choose-container {
        padding: 40px 0px;
    }

    .why-choose-title h3 {
        font-size: 2rem;
        margin-bottom: 16px;
    }

    .why-choose-items {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 15px;
        margin: 0px 16px;
    }

    .why-choose-item {
        padding: 26px;
    }

    .double-row {
        padding-top: 36px;
        grid-row: unset;
    }

    .double-column {
        grid-column: unset;
    }


    /* feature section */
    .feature-container {
        padding: 40px 0px;
    }

    .feature-title h2 {
        font-size: 2rem;
        margin-bottom: 24px;
    }

    .feature-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .feature-card {
        margin: 0px 20px;
    }

    /* meet the host */

    .meet-the-host-title h2 {
        font-size: 2rem;
        margin-bottom: 24px;
    }

    .host-content {
        flex-direction: column;
        margin: 0px 20px;
        padding: 24px;
        align-items: center;
    }

    .host-info{
        text-align: center;
    }

    .host-info h3{
        font-size: 1.5rem;
    }

    .host-social-info{
        justify-content: center;
    }


    /* footer section */
    


}


/* 
Medium Device: 576px to 992 px (Optional) */